.content__item--done {
    text-decoration: line-through;

}

.content__buttonDone {
    background-color: green;
    border-style: none;
    width: 30px;
    height: 30px;
    color: white;
}

.content__buttonDone:focus {
    outline: 1px solid rgb(48, 30, 30);
    border-radius: 3px;
}

.content__buttonDone:hover{
    background-color: hsl(120, 100%, 29%);
}

.content__buttonRemove {
    background-color: red;
    background-image: url("../img/trash.png");
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    border-style: none;
    width: 30px;
    height: 30px;
    order: 1;
}

.content__buttonRemove:focus {
    outline: 1px solid rgb(88, 55, 55);
    border-radius: 3px;
}
.content__buttonRemove:hover{
    background-color: hsl(0, 100%, 55%);
}

.content__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 10px 25px;
    grid-gap: 20px 20px;
    align-items: center;
    border-bottom: 2px solid #eee;
}