.form__head {
    border-bottom: 2px solid #eee;
    }

.form__box {
    max-width: 1000px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.742);
    padding: 10px 20px;
}



.form__newTask {
    width: 75%;
    border: 1px solid rgb(170, 163, 163);
    border-radius: 3px;
    padding: 10px;
}

.form__addTaskButton {
    text-align: center;
    border-style: none;
    background-color: teal;
    color: aliceblue;
    border-radius: 3px;
    padding: 10px 20px;
    width: 20%;
    margin-left: 15px;
}

.form__addTaskButton:focus {
    outline: 1px solid rgb(88, 55, 55);
    border-radius: 3px;
}

.form__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.form__listHeader {
    border-bottom: 2px solid #eee;
}

.form__listBox {
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.742);
    padding: 10px 20px;

}

@media (max-width: 767px) {
    .form__addTaskButton {
        width: 100%;
        margin: 10px 0;
    }

    .form__newTask {
        width: 100%;
    }

}