.section {
    max-width: 1000px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.742);
    box-shadow: 1px -1px 0px 0px rgba(227, 227, 232, 0.62);
}

.section__header--top {
    padding-left: 20px;
}

.section__body {
    padding: 20px;
}

.section__title {
    border-bottom: 2px solid #eee;
    padding: 20px 10px;
    padding-left: 20px;
}

.section__title--left {
    padding-left: 20px;
}

.section__form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;

}

@media(max-width: 767px) {
    .section__header {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .section__title--left {
        justify-self: start;
    }
}

.section__newTask {
    border: 1px solid rgb(170, 163, 163);
    border-radius: 3px;
    padding: 10px;

}

.section__addTaskButton {
    border-style: none;
    background-color: teal;
    color: aliceblue;
    border-radius: 3px;
    padding: 10px 20px;
    transition: 0.3s;
}

.section__addTaskButton:hover {
    background-color: hsl(180, 100%, 28%);
    transform: scale(1.03);
}

.section__addTaskButton:focus {
    outline: 1px solid rgb(88, 55, 55);
    border-radius: 3px;
}

.section__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (max-width: 767px) {
    .section__form {
        grid-template-columns: 1fr;
    }

}