html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    background-color: #eee;
    color: rgb(54, 46, 46);
    font-family: 'Noto Sans Nag Mundari', sans-serif;
}

.container{
    max-width: 900px;
    margin: 20px auto;
}